.header-img-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content {
    min-height: 80vh;
    margin-top: 16px;
    padding: 0 8px;
}

.pokemon-section {
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    height: 144px;
    margin-bottom: 8px;
}

.icon-types img {
    height: 36px !important;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.5));
}

.position-icon {
    top: 48px;
    right: 8px;
}

.position-name {
    top: 75px;
    left: 4px;
}

.position-name>h4 {
    font-size: 1.25rem;
    text-shadow: 1px 1px 0 #000;
}

.position-name>span {
    text-shadow: 1px 1px 0 #000;
}

.pokemon-infos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-infos span {
    position: absolute;
    left: 0;
    left: 4px;
    margin: 0;
    font-size: 1.25rem;
}

.pokemon-infos h4 {
    margin: 0;
    padding: 8px;
}

.pokemon-infos-section {
    height: 100%;
    width: 25vh;
    margin: 16px 0;
    flex-direction: column;
    border-radius: 15px;
}

.pokemon-picture {
    position: relative;
    height: 100%;
    width: 25vh;
    margin: 16px 0;
}

.pokemon-picture img {
    height: 11rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-picture img:hover {
    transform: scale(1.05);
    z-index: 3;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.5));
}

.pokemon-type img:hover {
    transform: scale(1.00);
}

.pokemon-type {
    height: 3.5rem;
}

.pokemon-type img {
    height: 36px;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.5));
}

.pokemon-detailed-information {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 1000;
}

.pokemon-detailed-information-header {
    padding: 16px;
    margin: 15vh 1vh 15vh 1vh;
    width: 60vh;
    border-radius: 25px;
    background-color: #F5F3F1;
}

.wallpaper {
    background-image: url('assets/img/background-info.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    border-radius: 25px;
}

.wallpaper>h2 {
    position: relative;
    top: 0;
    left: 36px;
    text-align: start;
    color: white !important;
    text-shadow: 1px 1px 2px #0006;
}

.wallpaper img {
    width: 100%;
    height: 35vh;
    padding: 16px;
    position: relative;
}

.info-categorie {
    border: 1px solid black;
    padding: 0 16px;
    background-color: #173f4e;
    border-radius: 25px;
}

.info-categorie p {
    margin: 0
}

.gender-img {
    height: 24px !important;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

body.loading {
    overflow: hidden;
}

.text-center {
    color: black;
}

.a-link-header a {
    text-decoration: none;
    color: white;
}

.a-link-header a:hover {
    transform: scale(1.05);
}

.main-content {
    padding: 16px;
    min-height: 80vh;
    flex-wrap: wrap;
}

.main-content img:hover {
    transform: scale(1.05);
    z-index: 3;
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.5))
}

.main-content img {
    height: 250px;
}

.arrow-key img {
    height: 64px;
}

.arrow-key-scale {
    transform: rotate(180deg);
}

.arrow-key img:hover {
    cursor: pointer;
    scale: 1.05;
}

td img {
    height: 36px;
}

.name-header {
    position: absolute;
}

.background-cart {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.pokemon-types-border {
    border-radius: 25px;;
}

.type-label {
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 0.95rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #0006;
}

.cart-header {
    top: 11px;
    right: 20px;
}

.header-img-section > h1 {
    font-size: 2,5rem !important;
}

#toggle-menu.d-none{
    cursor: pointer;
}

.test {
    width: 100%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    min-height: 10vh;
    border-radius: 1rem;
}

.d-flex.flex-column.gap-2 a {
  align-self: center;
  width: auto;
}