/* background color for pokemon types */

.normal {
  background-color: #a4acaf;
}

.fire {
  background-color: #fd7d24;
}

.water {
  background-color: #4592c4;
}

.electric {
  background-color: #eed535;
}

.grass {
  background-color: #9bcc50;
}

.ice {
  background-color: #51c4e7;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #b97fc9;
}

.ground {
  background-color: #f7de3f;
}

.flying {
  background-color: #3dc7ef;
}

.psychic {
  background-color: #f366b9;
}

.bug {
  background-color: #729f3f;
}

.rock {
  background-color: #a38c21;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background-color: #53a4cf;
}

.dark {
  background-color: #707070;
}

.steel {
  background-color: #9eb7b8;
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

/* background colors for type combinations */

.normal.flying,
.flying.normal {
  background: linear-gradient(120deg, #a4acaf 0%, #a4acaf 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.fire.flying,
.flying.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.grass.poison,
.poison.grass {
  background: linear-gradient(135deg, #9bcc50 0%, #9bcc50 40%, #b97fc9 60%, #b97fc9 100%);
}

.bug.grass,
.grass.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #9bcc50 60%, #9bcc50 100%);
}

.bug.flying,
.flying.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.ghost.poison,
.poison.ghost {
  background: linear-gradient(120deg, #7b62a3 0%, #7b62a3 40%, #b97fc9 60%, #b97fc9 100%);
}

.fighting.steel,
.steel.fighting {
  background: linear-gradient(120deg, #d56723 0%, #d56723 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.dragon.flying,
.flying.dragon {
  background: linear-gradient(120deg, #53a4cf 0%, #53a4cf 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.ice.flying,
.flying.ice {
  background: linear-gradient(120deg, #51c4e7 0%, #51c4e7 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.poison.bug,
.bug.poison {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #b97fc9 60%, #b97fc9 100%);
}

.poison.flying,
.flying.poison {
  background: linear-gradient(120deg, #b97fc9 0%, #b97fc9 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.grass.psychic,
.psychic.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #f366b9 60%, #f366b9 100%);
}

.ice.psychic,
.psychic.ice {
  background: linear-gradient(120deg, #51c4e7 0%, #51c4e7 40%, #f366b9 60%, #f366b9 100%);
}

.fairy.steel,
.steel.fairy {
  background: linear-gradient(120deg, #fdb9e9 0%, #fdb9e9 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.dark.fairy,
.fairy.dark {
  background: linear-gradient(120deg, #707070 0%, #707070 40%, #fdb9e9 60%, #fdb9e9 100%);
}

.dark.steel,
.steel.dark {
  background: linear-gradient(120deg, #707070 0%, #707070 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.normal.fairy,
.fairy.normal {
  background: linear-gradient(120deg, #a4acaf 0%, #a4acaf 40%, #fdb9e9 60%, #fdb9e9 100%);
}

.electric.flying,
.flying.electric {
  background: linear-gradient(120deg, #eed535 0%, #eed535 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.ground.rock,
.rock.ground {
  background: linear-gradient(120deg, #f7de3f 0%, #f7de3f 40%, #a38c21 60%, #a38c21 100%);
}

.ground.poison,
.poison.ground {
  background: linear-gradient(120deg, #f7de3f 0%, #f7de3f 40%, #b97fc9 60%, #b97fc9 100%);
}

.ground.steel,
.steel.ground {
  background: linear-gradient(120deg, #f7de3f 0%, #f7de3f 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.ground.psychic,
.psychic.ground {
  background: linear-gradient(120deg, #f7de3f 0%, #f7de3f 40%, #f366b9 60%, #f366b9 100%);
}

.ground.dragon,
.dragon.ground {
  background: linear-gradient(120deg, #f7de3f 0%, #f7de3f 40%, #53a4cf 60%, #53a4cf 100%);
}

.fire.fighting,
.fighting.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #c03028 60%, #c03028 100%);
}

.fire.steel,
.steel.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.fire.rock,
.rock.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #a38c21 60%, #a38c21 100%);
}

.fire.dragon,
.dragon.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #53a4cf 60%, #53a4cf 100%);
}

.fire.ground,
.ground.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #f7de3f 60%, #f7de3f 100%);
}

.fire.water,
.water.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #4592c4 60%, #4592c4 100%);
}

.water.poison,
.poison.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #b97fc9 60%, #b97fc9 100%);
}

.water.psychic,
.psychic.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #f366b9 60%, #f366b9 100%);
}

.water.flying,
.flying.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.rock.water,
.water.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #4592c4 60%, #4592c4 100%);
}

.water.fighting,
.fighting.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #d56723 60%, #d56723 100%);
}

.water.ice,
.ice.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #51c4e7 60%, #51c4e7 100%);
}

.water.dark,
.dark.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #707070 60%, #707070 100%);
}

.water.ground,
.ground.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #f7de3f 60%, #f7de3f 100%);
}

.water.dragon,
.dragon.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #53a4cf 60%, #53a4cf 100%);
}

.water.steel,
.steel.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.electric.steel,
.steel.electric {
  background: linear-gradient(120deg, #eed535 0%, #eed535 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.electric.ghost,
.ghost.electric {
  background: linear-gradient(120deg, #eed535 0%, #eed535 40%, #7b62a3 60%, #7b62a3 100%);
}

.grass.dragon,
.dragon.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #53a4cf 60%, #53a4cf 100%);
}

.grass.ground,
.ground.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #f7de3f 60%, #f7de3f 100%);
}

.grass.dark,
.dark.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #707070 60%, #707070 100%);
}

.grass.fighting,
.fighting.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #d56723 60%, #d56723 100%);
}

.ice.ground,
.ground.ice {
  background: linear-gradient(120deg, #51c4e7 0%, #51c4e7 40%, #f7de3f 60%, #f7de3f 100%);
}

.ice.fairy,
.fairy.ice {
  background: linear-gradient(120deg, #51c4e7 0%, #51c4e7 40%, #fdb9e9 60%, #fdb9e9 100%);
}

.ice.steel,
.steel.ice {
  background: linear-gradient(120deg, #51c4e7 0%, #51c4e7 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.bug.steel,
.steel.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.bug.rock,
.rock.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #a38c21 60%, #a38c21 100%);
}

.bug.fighting,
.fighting.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #d56723 60%, #d56723 100%);
}

.rock.psychic,
.psychic.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #f366b9 60%, #f366b9 100%);
}

.rock.steel,
.steel.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #9eb7b8 60%, #9eb7b8 100%);
}

.rock.ice,
.ice.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #51c4e7 60%, #51c4e7 100%);
}

.rock.dragon,
.dragon.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #53a4cf 60%, #53a4cf 100%);
}

.ghost.dragon,
.dragon.ghost {
  background: linear-gradient(120deg, #7b62a3 0%, #7b62a3 40%, #53a4cf 60%, #53a4cf 100%);
}

.ghost.dark,
.dark.ghost {
  background: linear-gradient(120deg, #7b62a3 0%, #7b62a3 40%, #707070 60%, #707070 100%);
}

.psychic.fighting,
.fighting.psychic {
  background: linear-gradient(120deg, #f366b9 0%, #f366b9 40%, #d56723 60%, #d56723 100%);
}

.psychic.dragon,
.dragon.psychic {
  background: linear-gradient(120deg, #f366b9 0%, #f366b9 40%, #53a4cf 60%, #53a4cf 100%);
}

.fairy.psychic,
.psychic.fairy {
  background: linear-gradient(120deg, #fdb9e9 0%, #fdb9e9 40%, #f366b9 60%, #f366b9 100%);
}

.fairy.dragon,
.dragon.fairy {
  background: linear-gradient(120deg, #fdb9e9 0%, #fdb9e9 40%, #53a4cf 60%, #53a4cf 100%);
}

.fairy.fighting,
.fighting.fairy {
  background: linear-gradient(120deg, #fdb9e9 0%, #fdb9e9 40%, #d56723 60%, #d56723 100%);
}

.steel.psychic,
.psychic.steel {
  background: linear-gradient(120deg, #9eb7b8 0%, #9eb7b8 40%, #f366b9 60%, #f366b9 100%);
}

.steel.dragon,
.dragon.steel {
  background: linear-gradient(120deg, #9eb7b8 0%, #9eb7b8 40%, #53a4cf 60%, #53a4cf 100%);
}

.flying.ghost,
.ghost.flying {
  background: linear-gradient(120deg, #3dc7ef 0%, #3dc7ef 40%, #7b62a3 60%, #7b62a3 100%);
}

.dark.flying,
.flying.dark {
  background: linear-gradient(120deg, #707070 0%, #707070 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.poison.dark,
.dark.poison {
  background: linear-gradient(120deg, #b97fc9 0%, #b97fc9 40%, #707070 60%, #707070 100%);
}

.grass.ice,
.ice.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #51c4e7 60%, #51c4e7 100%);
}

.dark.ice,
.ice.dark {
  background: linear-gradient(120deg, #707070 0%, #707070 40%, #51c4e7 60%, #51c4e7 100%);
}

.fighting.poison,
.poison.fighting {
  background: linear-gradient(120deg, #c03028 0%, #c03028 40%, #b97fc9 60%, #b97fc9 100%);
}

.normal.water,
.water.normal {
  background: linear-gradient(120deg, #a4acaf 0%, #a4acaf 40%, #4592c4 60%, #4592c4 100%);
}

.water.grass,
.grass.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #9bcc50 60%, #9bcc50 100%);
}

.water.electric,
.electric.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #eed535 60%, #eed535 100%);
}

.psychic.flying,
.flying.psychic {
  background: linear-gradient(120deg, #f366b9 0%, #f366b9 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.water.fairy,
.fairy.water {
  background: linear-gradient(120deg, #4592c4 0%, #4592c4 40%, #fdb9e9 60%, #fdb9e9 100%);
}

.grass.flying,
.flying.grass {
  background: linear-gradient(120deg, #9bcc50 0%, #9bcc50 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.normal.psychic,
.psychic.normal {
  background: linear-gradient(120deg, #a4acaf 0%, #a4acaf 40%, #f366b9 60%, #f366b9 100%);
}

.steel.flying,
.flying.steel {
  background: linear-gradient(120deg, #9eb7b8 0%, #9eb7b8 40%, #3dc7ef 60%, #3dc7ef 100%);
}

.fire.dark,
.dark.fire {
  background: linear-gradient(120deg, #fd7d24 0%, #fd7d24 40%, #707070 60%, #707070 100%);
}

.rock.dark,
.dark.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #707070 60%, #707070 100%);
}

.bug.ghost,
.ghost.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #7b62a3 60%, #7b62a3 100%);
}

.bug.water,
.water.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #4592c4 60%, #4592c4 100%);
}

.bug.ground,
.ground.bug {
  background: linear-gradient(120deg, #729f3f 0%, #729f3f 40%, #f7de3f 60%, #f7de3f 100%);
}

.rock.grass,
.grass.rock {
  background: linear-gradient(120deg, #a38c21 0%, #a38c21 40%, #9bcc50 60%, #9bcc50 100%);
}

.fairy.flying,
.flying.fairy {
  background: linear-gradient(120deg, #fdb9e9 0%, #fdb9e9 40%, #3dc7ef 60%, #3dc7ef 100%);
}


/* background colors for type labels */

.type-normal {
  background-color: #a4acaf;
}

.type-fire {
  background-color: #fd7d24;
}

.type-water {
  background-color: #4592c4;
}

.type-electric {
  background-color: #eed535;
}

.type-grass {
  background-color: #9bcc50;
}

.type-ice {
  background-color: #51c4e7;
}

.type-fighting {
  background-color: #c03028;
}

.type-poison {
  background-color: #b97fc9;
}

.type-ground {
  background-color: #f7de3f;
}

.type-flying {
  background-color: #3dc7ef;
}

.type-psychic {
  background-color: #f366b9;
}

.type-bug {
  background-color: #729f3f;
}

.type-rock {
  background-color: #a38c21;
}

.type-ghost {
  background-color: #7b62a3;
}

.type-dragon {
  background-color: #53a4cf;
}

.type-dark {
  background-color: #707070;
}

.type-steel {
  background-color: #9eb7b8;
}

.type-fairy {
  background-color: #fdb9e9;
}

/* background for borders */

.type-label.type-normal {
  border: 3px solid #cfd8dc;
}

.type-label.type-fire {
  border: 3px solid #ffb380;
}

.type-label.type-water {
  border: 3px solid #7ecbff;
}

.type-label.type-electric {
  border: 3px solid #fff176;
}

.type-label.type-grass {
  border: 3px solid #c5e1a5;
}

.type-label.type-ice {
  border: 3px solid #b3e5fc;
}

.type-label.type-fighting {
  border: 3px solid #ff8a65;
}

.type-label.type-poison {
  border: 3px solid #ce93d8;
}

.type-label.type-ground {
  border: 3px solid #ffe082;
}

.type-label.type-flying {
  border: 3px solid #81d4fa;
}

.type-label.type-psychic {
  border: 3px solid #f8bbd0;
}

.type-label.type-bug {
  border: 3px solid #aed581;
}

.type-label.type-rock {
  border: 3px solid #e6cfa7;
}

.type-label.type-ghost {
  border: 3px solid #b39ddb;
}

.type-label.type-dragon {
  border: 3px solid #90caf9;
}

.type-label.type-dark {
  border: 3px solid #b0bec5;
}

.type-label.type-steel {
  border: 3px solid #b0bec5;
}

.type-label.type-fairy {
  border: 3px solid #f8bbd0;
}

/* Border from type labels */

.border-normal {
  border: 5px solid #cfd8dc;
}

.border-fire {
  border: 5px solid #ffb380;
}

.border-water {
  border: 5px solid #7ecbff;
}

.border-electric {
  border: 5px solid #fff176;
}

.border-grass {
  border: 5px solid #c5e1a5;
}

.border-ice {
  border: 5px solid #b3e5fc;
}

.border-fighting {
  border: 5px solid #ff8a65;
}

.border-poison {
  border: 5px solid #ce93d8;
}

.border-ground {
  border: 5px solid #ffe082;
}

.border-flying {
  border: 5px solid #81d4fa;
}

.border-psychic {
  border: 5px solid #f8bbd0;
}

.border-bug {
  border: 5px solid #aed581;
}

.border-rock {
  border: 5px solid #e6cfa7;
}

.border-ghost {
  border: 5px solid #b39ddb;
}

.border-dragon {
  border: 5px solid #90caf9;
}

.border-dark {
  border: 5px solid #b0bec5;
}

.border-steel {
  border: 5px solid #b0bec5;
}

.border-fairy {
  border: 5px solid #f8bbd0;
}
