@media (max-width: 990px) {
  body>.main-content {
    justify-content: center !important;
    gap: 20px
  }
}

@media (max-width: 420px) {
  .pokemon-info-section {
    padding: 16px
  }
}

@media (max-width: 656px) {
  .a-link-header>a {
    display: none;
  }

  #toggle-menu.d-none {
    display: block !important;
  }
}

@media (min-width: 657px) {
  #toggle-menu-responsive {
    display: none !important;
  }
}

@media (max-width:787px) {
  .pokemon-infos-section {
    width: 100%;
  }

  .responsiv-width {
    width: 100%;
  }

  .pokemon-picture {
    width: 100%;
  }

  .pokemon-detailed-information-header {
    max-width: none;
    max-height: 100vh;
    border-radius: 0;
  }

  @media (max-width: 349px) {
    .position-name>h4 {
      font-size: 1rem;
    }

    .icon-types img {
      height: 32px !important;
    }
  }
}

@media (max-width:1024px) {
  .wallpaper {
    margin-bottom: 0;
    border-radius: 0 0 25px 25px;
  }

  .background-cart {
    border-radius: 0;
  }

  .arrow-key img {
    height: 48px;
  }
}