@media (max-width: 990px) {
    body>.main-content {
        justify-content: center !important;
        gap: 20px
    }
}

@media (max-width: 420px) {
    .pokemon-info-section {
        padding: 16px
    }
}

@media (max-width: 656px) {
    .a-link-header>a {
        display: none;
    }

  #toggle-menu.d-none {
    display: block !important;
  }
}

@media (max-width: 349px) {
    .pokemon-picture>.position-icon {
        right: 33px;
    }
}

@media (min-width: 656px) {
  #toggle-menu-responsive {
    display: none !important;
  }
}